h1 {text-align: center;
    margin-bottom: 12px;
text-shadow: 1px 1px 1px #000;}
.no-pasaran {text-align: center; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;  }
body {color: yellow; border: 2px white solid;
background: linear-gradient(#c7000c 0%, #740505 60%, #3e0404 100%) ; 
padding: 5px 10px; 

}
input[type="submit"] {
    border: solid;
    width: 40%;
    height: 5em;
    display: block;
    padding: 70px auto 10px auto;
    margin: 2em auto;
    border-radius: 45px;
    background-color: #270505;
    color: rgb(221, 188, 22);
    border-color: rgb(221, 188, 22);
}
fieldset {border: none; border-bottom: #ec07ba;}
.logo {display: flex;
    flex-direction: row;
justify-content: center;}
body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
.divider {  border-bottom: 3px solid #740505; width: 40%; margin-left: auto; margin-right: auto; box-shadow: 1px 1px 1px hsl(58, 91%, 50%); }
.skill img{ width: 100px; height: 70px; }
.skill {display: flex;
flex-direction: row ;}
input {color: rgb(221, 188, 22); border: solid; ;
background-color: #270505;border-radius: 45px; border-color: #270505; }
.inline {vertical-align: middle; width: unset; margin: 0 0.5em 0 0; }
label {display:block}
input[type="text"] {display: block;}
input[type="number"] {display: block;}
input[type="email"] {display: block;}